@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');


html, body {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    animation-name: nav;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0, 0, 0.5, 0.5);
    background-color: #0d2072
}

@keyframes nav {
  0% {
    top: -10%;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  z-index: 20;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 650px){
  #navbar ul {
    justify-content: center;
  }
}
li a {
  text-decoration: none;
  margin-left: 5em;
  color: #fff;
}

@media (max-width: 650px){
  li a {
    margin-left: 2em;
  }
}

#welcome-section {
  height: 100vh;
}

.title-section, .image-section, .callMe {
  display: grid;
  /*grid-template-columns: 100%;*/
  /*grid-template-rows: 100%;*/
  grid-template-areas:
            "contenu";
  height: 100vh;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.title-section {
  grid-area: contenu;
}

.image-section {
  grid-area: contenu;
  background-color: gray;
  display: grid;
  grid-template-areas:
    "header header"
    "aside1 aside2"
    "footer footer";
}
@media screen and (max-width: 650px) {
  .image-section {
    grid-template-areas:
    "header"
    "aside1"
    "aside2"
    "footer";
  }
}
.header {
 grid-area: header;
}
.image1 {
 grid-area: aside1;
}
.image2 {
 grid-area: aside2;
}
.data {
  grid-area: footer;
}
input, button {
  font-family: 'Montserrat', sans-serif;
  padding : 0.5em;
  font-size: 1.3em;
}
span {
  color: violet
}
.callMe {
  grid-area: contenu;
  display: grid;
  grid-template-areas: 
  "header header header"
  "aside1 aside2 aside3";
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  justify-content: center;
}
@media screen and (max-width: 650px) {
  .callMe {
    grid-template-areas: 
     "header"
     "aside1" 
     "aside2" 
     "aside3";
  }
}
.message {
  grid-area: header;
  font-size: 2em;
  margin-bottom: 0px;
}
.iconF {
  grid-area: aside1;
  font-size: 1.7em;
}
.iconT {
  grid-area: aside2;
  font-size: 1.7em;
}
.call {
  grid-area: aside3;
  font-size: 1.7em;
}
/*.image1 {
  display: inline;
}/*
#doc {
  width: 330px;
  height: auto;
}

#profile-link, #profile-link1{
  margin-right: 15px;
  text-decoration: none;
}

.project-tile {
  font-weight: bold;
}




