@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');


body, #portofolio {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.welcome {
    height: 100vh;
}

#navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar ul li {
    margin: 0;
    padding: 2em;
    
}
#navbar ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.4em;
}
#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media screen and (min-width: 800px) {
    #navbar ul {
    justify-content: flex-end;
    }
}
#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    background-color: #04032b;

}
.title-section {
    padding: 1em;
}
.title-section h1 {
    margin: 0;
}

.title-section {
    height: calc(100vh - 2em);
    display: flex;
    flex-direction: column;
    /*align-items: center*/;
    justify-content: center;
    text-align: center;
    background-color: #111111;
    color: #FFF;
}

.image-section {
    padding-top: 4.3em;
    height: calc(100vh - 2em);
    text-align: center;
}
@media screen and (min-width: 800px) {
    .image-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "head head"
        "project1 project2"
        "convert convert";
        justify-content: center;
        grid-column-gap: 5px;
    }
    .header {
        grid-area: head;
    }
    .image1 {
        grid-area: project1;
    }
    .image2 {
        grid-area: project2;
    }
    .data {
        grid-area: convert;
    }
}
.header {
   margin: 0;
   padding: 1em;
   text-align: center;
}
.image1, .image2 {
    width: 400px;
    margin: 5px auto;
    padding: 0 1em;
    background-color: #cccc0d;
}
.picture {
    display: block;
    width: 100%;
    height: auto;
}

.picture {
    width: 400px;
    margin: 0 auto;
}
.data h4 {
    color: #45567d;
    margin: 0;
}
input, button {
    font-family: Montserrat, sans-serif;
    padding: 0.6em;
    font-size: 1em;
}

.callMe {
   height: calc(100vh - 2em);
   padding: 4.3em 0 0 0;
   background-color: #45567d;
}
.callMe h2, .callMe a {
    color: #f0f0f0;
    font-size: 2em;
 }
 .callMe a {
    color: #f0f0f0;
    font-size: 1.5em;
 }
.message, .iconF, .iconT, .call {
    margin: 0;
    padding: 2em;
    text-align: center;
}






