@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#site, #header, #logo {
  margin: 0;
  padding: 0;
}

#header-img, #field {
  display: block;
  width: 100%;
  height: auto;

}

#header-img {
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
#header {
  text-align: center;
  padding: 0.5em;
  background-color: #043304;
  color: #fff;
}

#header #logo span,#header p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

#nav-bar {
  background-color: #ce143f;
}
#nav-bar,#nav-bar ul, #nav-bar ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#nav-bar ul {
  display: flex;
  justify-content: center;
 
}
.nav-link {
  display: block;
  margin: 0;
  padding: 2em;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1em;
}

.nav-link:hover {
  text-decoration: underline;
}

#watermelon-field p, #watermelon-field h2 {
  margin: 0;
  padding: 1em;
  text-align: center;
  color: green;
  font-size: 1.5em;
}

#field {
  display: block;
  width: 100%;
  height: auto;

}
#field ,#image-caption{
  width: 90%;
  margin: 0 auto ;
}
.green {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  background-color: palegreen;
}
#form {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

#email, #submit {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  padding: 0.6em
}
#submit, .submit {
  background-color: green;
  cursor: pointer;
}
.submit{ 
  font-weight: bold;
}

#section {
  text-align: center;
  padding: 1em;
}

#benefits, #peel_watermelon h2, #pricing h2 {
  color: green;
}
#show-watermelon {
  display: none;
  visibility: hidden;
}

#video {
  width: 100%;

}

.grams {
  width: 100px;
}
.watermelon {
  border: 1px solid black;
  padding: 0 0 20px 0;
  margin-bottom: 5px;
}
.watermelon h3 {
  margin: 0;
  padding: 0.6em;
  background-color: palegreen;
}
.submit {
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

footer {
  margin: 0;
  padding: 0;
  background-color: #041104;
  color: #fff
}
.footer {
  display: flex;
  justify-content: center
}
@media screen and (min-width: 800px) {
  #site {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto ;
    grid-template-areas: 
    "header1 header2"
    "field field"
    "content content"
    
    "footer footer";
  }

  #header {
    grid-area: header1;
  }

  #nav-bar {
    grid-area: header2;
    background-color: #043304;
  }
  .nav-link {
    padding: 2em;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  #watermelon-field {
    grid-area: field;
    width: 60%;
    margin: 0 auto;
  }

  #section {
    grid-area: content;
  }
   footer {
    grid-area: footer;
   }
}
@media screen and (min-width: 800px) {
  #section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto  ;
    grid-template-areas: 
    "head head"
    "aside1 aside2"
    "video video"
    "foot foot";
  }

  #benefits {
    grid-area: head;
  }
  #show-watermelon {
    grid-area: aside1;
    display: block;
    visibility: visible;
    align-self: center;
  }
  #show {
    width: 40%;
    border-radius: 50%;
  }
  #benefits-list {
    grid-area: aside2;
  }
  #peel_watermelon {
    grid-area: video;
    width: 70%;
    margin: 0 auto;
  }
  #pricing {
    grid-area: foot;
  }
}

@media screen and (min-width: 800px) {
  #pricing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto  ;
    grid-template-areas: 
    "first first first"
    "aside1 middle aside3";
    grid-gap: 5px;
  }
  #title {
    grid-area: first;
  }
  #item1 {
    grid-area: aside1;
  }
  #item2 {
    grid-area: middle;
  }
  #item3 {
    grid-area: aside3;
  }
}



