@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
#header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  background-color: palegreen;
}
@media  screen and (max-width: 650px) {
   #header {
      flex-direction: column;
   }
}
#title {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 650px) {
  #title {
    align-items: center;
    text-align: center;
  
  }
}
#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#logo, #header p {
  margin-left: 20px;
}
#header-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
#header h1 {
  margin: 0;
}
#header p {
  margin-top: 0px;
}

#nav-bar ul {
  list-style-type: none;
  display: flex;
  height: 50px;
  align-items: flex-end;
}
@media screen and (max-width: 650px) {
  #nav-bar {
    background-color: aliceblue;
  }
  .nav-link {
    color: green;
  }
}

#nav-bar a {
  text-decoration: none;
}
#nav-bar li {
 margin-right: 50px;
}
.nav-link {
  text-transform: uppercase;
  color: black;
}
@media screen and (max-width: 650px) {
  .nav-link {
    background-color: palegreen;
  }
}
#watermelon-field {
  text-align: center;
  margin-top: 100px;
}
@media screen and (max-width: 650px) {
  #watermelon-field {
    margin-top: 180px;
  }
}
.love-field {
  font-size: 1.7em;
  color: green;
}
#submit, #submit:hover {
  width: 100px;
  background-color: green;
  border: 1px solid green;
  cursor: pointer;
}

#field {
  display: block;
  width: 70%;
  height: 60vh;
  border-radius: 10px;
  /*margin-left: auto;
  margin-right: auto;*/
  margin: auto;
}

#email, #submit {
  padding: 0.6em;
  font-family: "Montserrat";
  font-weight: 700;
}

#show {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}


#section {
  width: 90%;
  margin: auto;
}
.section1 {
  display: flex;
}
.show-watermelon {
  padding-top: 120px;
  margin-left: 100px;
}
@media screen and (max-width: 650px) {
  .show-watermelon {
    display: none;
  }
}
.benefits-watermelon {
  margin-left: 150px;
}
@media screen and (max-width: 650px) {
  .benefits-watermelon {
    /*justify-content: center;
    text-align: center;*/
    margin: auto;
  }
}
#benefits {
  font-size: 1.6em;
  color: green;
}
@media screen and (max-width: 650px) {
  #benefits {
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .benefits-watermelon ol li {
    margin-bottom: 10px;
  }
}

.how-to-peel {
  text-align: center;
}
#video {
  width: 70%;
  height: 60vh;
  display: block;
  margin: auto;
}

#peel_watermelon {
  font-size: 1.6em;
  color: green;
}
#pricing {
  text-align: center;
  font-size: 1.6em;
  color: green;
}
.the-prices {
  display: flex;
  text-align: center;
  margin-left: 120px;
}
@media screen and (max-width: 650px) {
  .the-prices {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 85px;
  
  }
}
.watermelon h2 {
  margin: 0;
  padding: 10px;
  background-color: palegreen;
  height: 50px;
}
@media screen and (max-width: 650px) {
  .watermelon {
    margin-bottom: 5px;;
  }
}

#gramstwo {
  width: 55px;
  height: 60px;
}
#gramstree {
  width: 65px;
  height: 70px;
}
#gramsfour {
  width: 80px;
  height: 85px;
}
.watermelon {
  width: 280px;
  height: 250px;
  border: 1px solid green;
  margin-right: 20px;
  border-radius: 5px;
  
}
.submit1 {
  margin-top: 25px;
  background-color: green;
  border: 1px solid green;
  cursor: pointer;
}
.submit2 {
  margin-top: 16px;
  background-color: green;
  border: 1px solid green;
  cursor: pointer;
}
.submit3 {
  background-color: green;
  border: 1px solid green;
  cursor: pointer;
}
.footer {
  display: flex;
  flex-direction: row;
  width: 850px;
  margin-left: 182px;
  background-color: palegreen;
  margin-top: 20px;
  justify-content: flex-end;
  
}

.privacy h2, .terms h2, .contact h2 {
  margin-bottom: 0;
  text-decoration: none;
  font-size: 0.9em;
}
.privacy p, .terms p, .contact p {
  margin-top: 0;
  font-size: 0.9em;
}
.privacy a, .terms a, .contact a {
  color: black;
  text-decoration: none;
}
.contact {
  margin-right: 10px;
  margin-left: 5px;
}
@media screen and (max-width: 650px) {
  .footer {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    margin-left: 0px;
  }
}
